table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    }
    
    th {
    background-color: #f2f2f2;
    }
    
    tr:hover {
    background-color: #f5f5f5;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    label {
    font-weight: bold;
    }
    
    input[type="text"],
    select,
    textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    
    input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    input[type="submit"]:hover {
    background-color: #45a049;
    }
    
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }